.html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #eeeeee;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

.blank {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

.blank__container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
    ;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 0 7px #dddddd;
}

.blank__containerName {
    border-bottom: 2px solid #eeeeee;
    grid-area: header;
    padding: 20px;
    margin: 0;
}

.blank__form {
    grid-area: main;
    padding: 20px;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 150px;
    grid-gap: 20px;
}

.blank__textArea {
    padding: 10px;
    border: 2px solid #eeeeee;
}

.blank__button {
    padding: 10px;
    background-color: #007282;
    color: white;
    border: none;
}

.blank__button:active {
    transform: scale(0.98); 
    transition: 0.2s ease;
}


.blank__list {
    list-style: none;
    display: grid;
    padding-left: 0;
    margin: 20px;
}


@media (max-width:767px) {
    .blank__form {
        grid-template-columns: 1fr;
    }
}

.blank__listItem {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 35px minmax(100px, 1fr) auto;
    grid-gap: 20px;
    border-bottom: 2px solid #eeeeee;
    padding: 20px;
    align-items: center;
    word-wrap: break-word;

}

.blank__buttonList {
    background-color: rgb(26, 123, 30);
    color: #fff;
    font-size: 20px;
    border: none;
    width: 24px;
    height: 35px;
}

.blank__buttonList:active {
    transform: scale(0.93); 
    transition: 0.2s ease;
}


.blank__buttonList--delete {
    background-color: #ed2938;
}
